<!DOCTYPE html>
<html>
<head>
  <title>Console</title>
  <style>
    body {
      overflow-y: scroll;
      background-color: #000;
      color: silver;
      padding: 6px;
      overflow-y: auto;
    }
    * {
      margin: 0;
      padding: 0;
      font-family: Monaco, "Lucida Console", monospace;
      font-size: 13px;
      box-sizing: border-box;
    }

    html {
      background: #000;
    }

    .buttons {
      color: black;
      text-align: right;
    }
    .buttons button {
      background: transparent;
      color: #888;
      border: none;
      padding-right: 18px;
    }
    .environment {
      color: white;
      /*float: left;*/
    }
    #results {
    }
    .command-wrap {
      clear: both;
      position: relative;
      background: #222;
      width: 100%;
    }
    .command-wrap .prompt {
      position: absolute;
      top: 0;
      left: 0px;
      font-weight: bold;
      color: white;
    }
    #script {
      display: block;
      resize: none;
      overflow: hidden;
      background: transparent;
      border: none;
      color: white;
      width: 100%;
      padding-left: 15px;
    }
    textarea:focus {
      outline: none;
    }
    .console_result {
    }

    .command {
      color: silver;
    }
    .type-stdout {
      white-space: pre;
    }
    .type-String {
      color: #65b042;
    }
    .type-Numeric {
      color: #3487cc;
    }
    .type-Exception {
      color: #d00;
    }

      
    .return {
      color: white;
    }
  </style>
  <script>
    window.console_context = <%=
      {
        run_path: rails_web_console.run_path
      }.to_json.html_safe
    %>
  </script>
  <%= javascript_include_tag "console" %>
</head>
<body>
  <div class="buttons">
    <span class="environment">
      <%= Rails.application.class.parent_name + ":"+Rails.env.to_s %>
    </span>
    <button id=run-script>Run (Enter)</button>
  </div>
  <div id="results"></div>
  <div class="command-wrap">
    <div class="prompt">
    &#10095;
    </div>
    <textarea id="script" rows="1" cols="80"></textarea>
  </div>

</body>
</html>
