<textarea id="script" rows="10" cols="80"><%= session[:script] %></textarea>
<div><input type="button" value="Clear (Esc, Esc)" id="clearResults" /><input type="button" value="Run (Ctrl+Enter)" id="runScript" /></div>
<div id="results"></div>
