<textarea id="script" rows="10" cols="80"><%= session[:script] %></textarea>
<div><input type="button" value="Clear" id="clearResults" /><input type="button" value="Run" id="runScript" /></div>
<div id="results"></div>
