<!DOCTYPE html>
<html>
<head>
  <title>Console</title>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' %>
  <%= javascript_include_tag 'console' %>
  <%= stylesheet_link_tag 'console' %>
</head>
<body>

<%= yield %>

</body>
</html>
